/*
 A direct download of https://aurora.latvian.dev/style.csss
 All Credit goes to it's author LatvianModder.
 */
/* https://github.com/lonekorean/gist-syntax-themes */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/

html {
    background-color: #201c21;
}

body {
    margin: 20px;
    color: #afa0ab;
    font: 16px 'Open Sans', sans-serif;
    font-family: Open Sans, Arial;
    font-size: 16px;
    margin: 2em auto;
    max-width: 80%;
    padding: 1em;
    line-height: 1.4;
}

a {
    color: #4791b1;
    text-decoration: none;
}

p {
    margin: 0.2em 0;
}

a:visited {
    color: #4791b1;
}

.type, .type:visited {
    color: #c13479;
}

ul li img {
    height: 1em;
}

ul,
ol {
    padding-left: 1em;
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top: 1rem;
}

blockquote author {
    display: block;
    clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style: oblique;
}

blockquote author:before {
    content: "- ";
    margin-right: 1em;
}

blockquote:before {
    font-family: Times New Roman, Times, Arial;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem;
}

blockquote:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 500px) {
    body {
        text-align: left;
    }

    div.fancyPositioning div.picture-left,
    div.fancyPositioning div.tleft {
        float: none;
        width: inherit;
    }

    blockquote span {
        width: 80%;
    }

    blockquote author {
        padding-top: 1em;
        width: 80%;
        margin-left: 15%;
    }

    blockquote author:before {
        content: "";
        margin-right: inherit;
    }
}

span.yes {
    color: #26b36c;
}

span.no {
    color: #ab495f;
}

span.other {
    color: #42a3ff;
}

.error {
    color: #ce3434;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table td,
table th {
    border: 1px solid #1f1414;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #00000024;
}

table tr:hover {
    background-color: #424250;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #383944;
    color: #ddd;
}

pre {
    background-color: #f2f2f2;
    padding: 0.3em;
    overflow-x: scroll;
}

img.tooltip, div.tooltip {
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #2d2a2a;
    color: #ead8da;
    border-radius: 6px;
    border: #101010 1px solid;
    padding: 0.7em 1em;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

img.icon {
    height: 1em;
    padding: 0;
    margin: 0 0.3em 0 0;
    display: inline-block;
    vertical-align: middle;
}

.center-text {
    text-align: center;
}

.logo {
    height: 7em;
}

.context-menu {
    position: fixed;
    background-color: #2d2a2a;
    color: #ead8da;
    border-radius: 6px;
    border: #101010 1px solid;
    padding: 0.7em 1em;
    z-index: 1;
    display: none;
    width: 14em;
}

.context-menu-item {
    cursor: pointer;
    white-space: nowrap;
}

.context-menu-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2em;
    height: calc(1em + 4px);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 2em;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(1em - 4px);
    width: calc(1em - 4px);
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(1em - 4px));
    -ms-transform: translateX(calc(1em - 4px));
    transform: translateX(calc(1em - 4px));
}

/* Rounded sliders */
.slider.round {
    border-radius: calc(1em + 4px);
}

.slider.round:before {
    border-radius: 50%;
}

.focused {
    color: #ff9800;
    font-weight: bold;
    font-size: larger;
}

.link {
    text-decoration: underline;
    color: #8cb4ff;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.clickable {
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 999;
    background: #201c21;
}

.header-div {
    display: inline-block;
}

.link-container {
    display: flex;
    align-items: center;
}

td.link-container {
    width: 1.5em;
    display: flex;
    align-items: center;
}

.toast {
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: #2d2a2a;
    color: #ead8da;
    border-radius: 6px;
    border: #101010 1px solid;
    padding: 0.7em 1em;
    z-index: 1;
}

.pagination-div {
    display: block;
}

.pagination-div span {
    display: inline-block;
    margin-right: 0.25em;
    margin-left: 0.25em;
    text-align: center;
}

.pagination-div .active {
    color: #ff9800;
    font-weight: bold;
}

.link-but-no-underline {
    color: #8cb4ff;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.sorting-header {
    color: #ff9800;
    font-weight: bold;
}